# Fill in these values and rename this file to .env.cert
DOMAIN=cutthecrap.app
EMAIL=you@example.com
AZURE_ZONE_RESOURCE_ID=/subscriptions/<sub-id>/resourceGroups/<rg>/providers/Microsoft.Network/dnszones/<zone>
