node_modules/
dist/
build/

venv/
__pycache__/

.env
.env.cert
certs/
.expo/
frontend/android/
frontend/ios/

logs/
.playwright-cli/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

.sfdx